/* global styles */
* {
  box-sizing: border-box;
}

:root {
  --primary: #f7f0e7;
  --text: #333;
  --text-unfocus: #777;
  --accent: #cc6600;
  --contrast: white;
  --header-font: 'Mulish', sans-serif;
  --body-font: 'Source Code Pro', monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  line-height: 1;
  width: 100%;
  font-size: 12px;
}

/* heading and paragraphs */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--header-font);
  color: var(--secondary);
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em
}

a {
  margin: 0;
  font-family: var(--header-font);
  text-decoration: none;
}

p {
  margin: 0;
  font-family: var(--body-font);
  color: var(--text);
}

.bullet {
  padding-left: 3px;
  color: var(--accent);
}

.lg {
  font-size: 1.5em;
}

.sm {
  font-size: 1.3em;
}

/* container */
/* this constrains pages on screens wider than 1140px */
.container {
  max-width: 1140px;
  width: 100%;
  padding: 0px 40px;
  margin: 0px auto;
}


/* nav header */

.site-nav {
  width: 100%;
  background-color: var(--primary);
}

.site-nav .content {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

nav ul {
  display: inline-flex;
  justify-content: flex-end;
  gap: 30px;
  margin: 0px;
}

nav li {
  display: inline;
  font-size: 1.5em;
  text-transform: capitalize;
}

nav li a {
  color: var(--text-unfocus);
}

nav li a:hover {
  color: var(--text);
}

/* sections */

.page-section {
  padding-top: 10%;
}

.section-header {
  display: inline-block;
  padding: 4px 14px 8px 14px;
  background-color: var(--primary);
  color: var(--text);
  margin-left: -14px;
}